.App {
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}

.area {
  height: 150px;
  width: 450px;
}

body {
  background-color: #f4fefd;
}

.out {
  width: 60vw;
  min-height: 25vh;
  background-color: white;
  margin-left: 20%;
  overflow-wrap: break-word;
}
